<section id="featured-work" blur="false">
  <h3 id="clicked">Featured Work</h3>
  <div class="work-belt">

    <!--
      Content Tumbnails
    -->
    <div class="thumb-wrap">
      {% for project in site.data.settings.featured-projects %}
        <a href="#clicked" class="image" data-folder="{{ project.folder }}">
          <div class="info">
            <div class="group">
              {% include icons/icon-plus.html %}
              <p>{{ project.name }}</p>
            </div>
          </div><img src="assets/img/projects/{{ project.folder }}/thumb.png" alt="{{ project.name }}"/>
        </a>
      {% endfor %}
    </div>
        <!--
                  Content Full Size
        -->
        <div class="work-wrap">
           <div class="work-container">
            <div class="work-return">
              {% include icons/icon-back.html %}
              <p>back</p>
            </div>

                <h4 class="project-title"></h4>

               <div class="project-load"></div>


            </div>
        </div>
  </div>


</section>
