<div id="modal">
  <input class="name" required="required" type="text" name="name" placeholder="First Name">
  <input class="name" type="text" name="name" placeholder="Last Name">

  <input type="email" name="_replyto" required="required" placeholder="Your email">

  <input type="hidden" name="_subject" value="Website codfdntact" />
  <div class="services row">
    {% for services in site.data.settings.services %}
      <label class="service" for="{{services.ID}}">
        <span class="custom-radio" service="{{ services.ID }}"></span>
        <p>{{services.title}}</p>
      </label>
    {% endfor %}
  </div>

  <textarea name="message" required="required" placeholder="Tell me about your project..."></textarea>
  <input type="text" name="_gotcha" style="display:none" />-
  <input type="hidden" name="_next" value="/contact" />
  <input type="submit" value="Send">
</div>
