---
permalink: contact/
title: "Manuel Osorio | Contact"
---
<!DOCTYPE html>
<!--

This site was built with lots of ♥, Sass and Jekell.


Hey, I see you're looking at my source code.
Unfortunately, this code won't be of much assistance to you. Fortunately for you I make websites
If you would like for me to work with you in making your website send me an email (hey@manuelosorio.me) and we can talk about prices
I would get back to you as soon as possible.
I do web design, icons, logos.

-->
<html lang="en">
  <head>
    {% include partials/meta/head.html %}
  </head>
  <body>
    {% include partials/header/nav-perm-pretty.html %}
    {% include partials/pages/contact/contact.html %}
    {% include partials/footer/footer-perm-pretty.html %}

    <script src="../assets/js/jquery-2.1.1.min.js"></script>
    <script src="../assets/js/functions2.js"></script>
  </body>
</html>
