---
permalink: "services/"
title: "Services"
keywords: "Brand Idenity Design, Front End Web Develpment, Logo Design, Manuel Osorio, Graphic Design, Static Website"
url-name: services
---

<!DOCTYPE html>
<!--


This site was built with lots of ♥, Sass and Jekell.


Hey, I see you're looking at my source code.
Unfortunately, this code won't be of much assistance to you. Fortunately for you I make websites
If you would like for me to work with you in making your website send me an email (hey@manuelosorio.me) and we can talk about prices
I would get back to you as soon as possible.
I do web design, icons, logos.

-->

<html lang="en">
  <head>
    <head>
  		{% include partials/meta/head.html %}
  	</head>
  </head>
  <body>
    <div class="container" id="services-page">
      {% include partials/header/nav-perm-pretty.html %}
      {% include partials/header/page-hero.html %}

      {% include partials/pages/services/services.html %}
    </div>
    {% include partials/footer/footer-perm-pretty.html %}
  </body>

  <script src="../assets/js/jquery.js"></script>
  <script src="../assets/js/functions2.js"></script>
  <script type="text/javascript">
    var modal =document.querySelector('#modal');
    var contact = document.querySelector('#contact');
    var nav = document.querySelector('.nav');
    var hero = document.querySelector('.page-hero');
    // var title= document.querySelector('#services-title');
    // var services = document.querySelector('.services-wrap');
    var featServices = document.querySelector('#services-page');
    var footer = document.querySelector('footer');

    contact.addEventListener('click', modalOpen);
    function modalOpen() {
      featServices.classList.add('zindex');
      if (featServices.classList.contains('zindex')) {
        modal.classList.add('active');
      }
      if (modal.classList.contains('active')){
        nav.classList.add('blur');
        hero.classList.add('blur');
        // title.classList.add('blur');
        // services.classList.add('blur');
        footer.classList.add('blur');
      }

    }
    var close = document.querySelector('#close');
    close.addEventListener('click', modalClose);
    function modalClose() {
      featServices.classList.remove('zindex');
      modal.classList.remove('active');
      nav.classList.remove('blur');
      hero.classList.remove('blur');
      // title.classList.remove('blur');
      // services.classList.remove('blur');
      footer.classList.remove('blur');
    }
  </script>
</html>
