<section id="featured-services-wrap">
  <h3>SERVICES</h3>
  <p>
    My <strong>Brand Identity Design</strong> services include:
    <ul>
      <li>Logo</li>
      <li>Business Card</li>
      <li>Letter Head</li>
      <li>Envelopes</li>
    </ul>
    My <strong>Website Development</strong> services include Front-End Single or multi-page websites.
  </p>
  <!--
            Hidden Inputs for Pure CSS input styling
  -->
  <form class="" action="index.html" method="post">
    <div class="services row">
    <label class="col col-4 service" for="brandID">
      <input type="checkbox" name="service" id="brandID">
      <span class="custom-checkbox"></span>
      <div>
        <img src="assets/img/BrandId.png" alt="Brand Identity, Manuel Osorio" title="Brand Identity, Manuel Osorio">
        <p>Brand Identity Design</p>
      </div>
    </label>

    <label class="col col-4 service" for="logo">
      <input type="checkbox" name="service" id="logo">
      <span class="custom-checkbox"></span>
      <div>
        <img src="assets/img/WebDev.png" alt="Website Development, Manuel Osorio" title="Website Development, Manuel Osorio">
        <p>Logo Design</p>
      </div>
    </label>
    <label class="col col-4 service" for="web">
      <input type="checkbox" name="service" id="web">
      <span class="custom-checkbox"></span>
      <div>
        <img src="assets/img/WebDev.png" alt="Website Development, Manuel Osorio" title="Website Development, Manuel Osorio">
        <p>Website Development</p>
      </div>
    </label>
  </div>
  </form>

</section>
