<section id="featured-services-wrap">
  <h3>SERVICES</h3>
  <!-- <p>
    My <strong>Brand Identity Design</strong> services include:
    <ul>
      <li>Logo</li>
      <li>Business Card</li>
      <li>Letter Head</li>
      <li>Envelopes</li>
    </ul>
    My <strong>Website Development</strong> services include Front-End Single or multi-page websites.
  </p> -->
  <!--
            Hidden Inputs for Pure CSS input styling
  -->
  <form class="" action="index.html" method="post">
      <div class="services row">
      {% for services in site.data.settings.services %}
      <label class="col col-4 service" for="{{ services.ID}}">
        <input type="checkbox" name="service" id="{{ services.ID }}">
        <span class="custom-checkbox"></span>
        <div>
          <img src="assets/img/services/{{ services.ID}}.svg" alt="{{ services.title }}, Manuel Osorio" title="{{services.title}}, Manuel Osorio">
          <p>{{ services.title }}</p>
        </div>
      </label>
    {% endfor %}
    </div>
    <div class="row">
      <div class="col">
        <a href="" class="btn teal large outline round">Learn More</a>
      </div>
      <div class="col col-6"></div>
    </div>
  </form>

</section>
