<section id="featured-services-wrap">
  <h3>Services</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac faucibus ante, eu luctus nulla.</p>
  <!--
            Hidden Inputs for Pure CSS input styling
  -->
  <form class="" action="index.html" method="post">
    <input type="radio" name="service" id="logo">
    <input type="radio" name="service" id="web">
    <input type="radio" name="service" id="both">
  </form>
  <div class="services row">
    <label class="col col-4" for="logo">
      <img alt="Lorem Impsum">
      <p>Lorem Impsum</p>
    </label>

    <label class="col col-4" for="web">
      <img alt="Lorem Impsum">
      <p>Lorem Impsum</p>
    </label>

    <label class="col col-4" for="both">
      <img alt="Lorem Impsum">
      <p>Lorem Impsum</p>
    </label>

  </div>

</section>
