<footer data-blur="data-blur">
    <div class="lockup">

        <div>


            <div class="logo">{% include icons/icon-logo.html %}</div>
            <div class="content-wrapper">
                <nav>
                    {% for item in site.data.settings.menu %}
                      {% if item.name != "Contact" %}
                        <a href="/{{ item.url }}" target="{{ item.target }}">{{ item.name }}</a>
                      {% endif %}
                    {% endfor %}
                        <a href="https://mkdesignz.spreadshirt.com" target="_blank">Store</a>
                </nav>

                <p class="copyright">&copy; 2014-{{ site.time | date: '%Y' }}, Manuel Osorio All rights reserved.</p>

            </div>
        </div>

    </div>
</footer>
