#featured-services-wrap
  position: relative
  top: 55em
  background-color: rgba($bg-color-light, 1)
  z-index: 0
  padding:
    top: 25px
    bottom: 200px
  h3
    color: $primary
    text-align: center
  &::before
    content: ""
    background: rgba($primary, 1)
    position: absolute
    height: 200px
    width: 100%
    padding-bottom: 3em
    top: -16em
    transform: skewY(-4deg)
    overflow: hidden
.services
  margin: 15px
  .service
    display: flex
    background-color: rgba($primary, 1)
    justify-content: center
    padding: 15px
    position: relative
    div
      justify-content: center
      position: relative
      margin: 0 auto
      z-index: 0
    .custom-checkbox
      +size(25px)
      background-color: $bg-color-light
      border-radius: 50%
      &::before
        content: "\ea10"
        font-family: "icomoon"
        display: block
        background-color: $primary-light
        border-radius: 50%
        +size(20px)
        position: relative
        top: 2.5px
        left: 2.5px
        color: white
        font-size: 12px
        text-align: center
        transform: scale(0)
        transition: $trans
    input
      display: none
      &:checked ~ .custom-checkbox::before
        transform: scale(1)
