#featured-services-wrap
  position: relative
  top: 43em
  background-color: rgba($primary, 1)
  padding:
    top: 25px
    bottom: 200px
    // bottom: 150px
.services .service
  display: flex
  background-color: rgba($bg-color-light, 1)
  justify-content: center
  div
    justify-content: center
