#featured-services-wrap
  position: relative
  top: 37em
  background-color: rgba($bg-color, 1)
  padding:
    top: 100px
    // bottom: 150px
.services .service
  display: flex
  background-color: rgba($bg-color-light, 1)
  div
    justify-content: center
