// margin: top right bottom left
    margin: 25px 50px 75px 100px;
footer
    background: $footer-bg
    // position: absolute
    position: relative
    text-align: center
    overflow: hidden
    // right: 0
    // bottom: 0
    // left: 0
    // padding-top: : 1em
    // bottom: -54em
    height: 180px
    width: 100%
    +display(flex)
    +flex-direction(column)
    &::before
        content: ""
        background: #EFEFEF
        position: absolute
        height: 200px
        width: 100%
        padding-bottom: 3em
        z-index: 0
        bottom: 8.8em
        transform: skewY(-4deg)
        overflow: hidden
    .lockup
        +clearfix
        +flex-direction(row)
        position: relative
        padding: 15px 30px 24px
        top: 7em
        .logo
            position: relative
            width: 1000
            bottom: -1em
            +flex-direction(column)
            +justify-content(center)
            // margin-top: 15px
            svg
                width: 100px
                height: 33px
                float: left
                margin-left: 50px
                path
                    fill: $bg-color-light
                    +transition($trans)
                    &:hover
                        fill: #ff6b57



        .content-wrapper
            +flex-direction(column)
            .copyright
                text-transform: uppercase
                color: rgba(255, 255, 255, 0.85)
                @extend %small-bold
            a
                display: inline-block
                margin-right: 20px
                +transition($trans)
                color: rgba(255, 255, 255, 0.85)
                @extend %small-bold
            a:hover
                color: $primary


@media screen and (max-width: 640px)
    footer
        bottom: -45em
        .lockup
            .logo
                svg
                    float: none
                    margin: 0 auto
            .content-wrapper
                float: none
                margin: 0 auto
                nav
                    a
                        margin-right: 5px
                        font:
                            size: 12px
