.skills-wrap
  +display(flex)
  flex-direction: row
  max-width: 85%
  margin: 0 auto 80px auto
  color: $bg-color-light
  +clearfix
  flex-wrap: wrap
  position: relative
  top: -55px

  .skills-unit
    flex-direction: row
    width: 50%
    float: left
    margin-bottom: 15px

    .skills-icons
      font-size: 15px
      // margin: 3px 0 30px
      &::after
        // content: "#{$i}"
      span
        display: inline-block
        width: 10%
        height: 25px
        margin: -5px
        background-color: $primary-light
        transform: skewX(15deg)
        position: relative
        z-index: 0
        // margin-right: 8px
        // border-radius: 50%

        &:after
          content: ''
          display: block
          +size(10px)
          // f

          // border-radius: 50%
          // margin: 2px


      @for $i from 0 through 10
        // .skills-icons:last-child:before
        &.skills-#{$i} span:nth-child(n+#{$i+1})
          @extend %skill-color
        &.skills-#{$i} span:last-child:after
          content: "#{$i}"
          position: relative
          z-index: 1
          color: $primary-light
          font-size: 17px
          margin: 0 auto
          // text-align: center

@media all and (max-width: 540px)
  .fixed ~ #about
    top: 54em
  #about::after
    bottom: -40%
  .skills-wrap
    width: 100%
    top: -7.4em
    .skills-unit
      width:  100%

      .skills-icons span
        width: 11%
  .fixed ~ #skills
    top: 51.5em
  #skills
    top: 48.5em
    h3
      top: -4.4em

  .blurp
    margin: 0 18px
    font-size: 18px
%skill-color
  background: $bg-color-light
@media all and (max-width: 480px)
  .fixed ~ #about
    top: 36.5em
  #about
    top: 35em
    h3
      position: relative
      z-index: 1
  .fixed ~ #skills
    top: 32.5em
    h3
      top: -3.4em
  #skills
    top: 32.5em
    h3

      top: -3.4em

  .profile-wrap
    z-index: 0
    .face-img::before
      z-index: 0
      top: 2.5em


#skills
  position: relative
  top: 48em
  background: rgba($primary, 1)
  // padding-bottom: 150px
  .fixed ~ #skills
    top: 52em
  h3
    text-align: center
    color: rgba($bg-color-light, 1)
    position: relative
    top: -3em
    width: 90%

@media all and (max-width: 650px)
  .fixed ~ #skills
    top: 46em
  #skills
    top: 43em
@media all and (max-width: 370px)
  .profile-wrap .face-img
    +size(250px)
    &::before
      top: 5.5em
      padding-bottom: 40px
  .fixed ~ #skills
    // top: 34.5em
    h3
      top: -3.4em
  #skills
    // top: 34.5em
    h3
      top: -3.4em
