<div id="modal">
  <div class="form">
    <div id="close">
    </div>
    <div class="row">
      <input class="name col col-6" required="required" type="text" name="name" placeholder="First Name">
      <input class="name col col-6" type="text" name="name" placeholder="Last Name">
    </div>
    <div class="row">
      <input type="hidden" name="_subject" value="Website Contact" />
      <input type="email" class="col col-6" name="_replyto" required="required" placeholder="Your email">
      <input type="text" class="col col-6" name="company" placeholder="Company Name (optional)">
    </div>
    <div class="row modal-services">
      {% for services in site.data.settings.services %}
        <label class="col col-3 service" for="{{services.ID}}">
          <span class="custom-radio" service="{{ services.ID }}"></span>
          <p>{{services.title}}</p>
        </label>
      {% endfor %}
    </div>
    <div class="row">
      <textarea name="message" class="col col-12" required="required" placeholder="Tell me about your project..."></textarea>
    </div>
    {% if page.url != ""%}
      <input type="hidden" name="_next" value="{{page.url}}" />
    {% else %}
      <input type="hidden" name="_next" value="/" />
    {% endif %}
    <div class="row">
      <input class="col col-6" type="submit" classvalue="Send">
    </div>
  </div>
</div>
