<div class="nav">
    <a href="/" class="logo">{%  include icons/icon-logo.html %}</a>
    <div class="flex-right">

        <div class="links">
            {% for item in site.data.settings.menu %}
                <a {% if item.url == page.url-name %}class="active"{% endif %} {% if item.name == 'Contact' %} id="{{ item.id }}"  href="#" {% else %}  href="../{{ item.url }}"  {% endif %}>{{ item.name }}</a>
            {% endfor %}

                <a href="https://mkdesignz.spreadshirt.com/" target="_blank">Store</a>
    </div>


    <div class="flex-mobile">
       <div class="menu default">
         <div class="menu-bar"></div>
         <div class="menu-bar"></div>
         <div class="menu-bar"></div>
       </div>
        <div class="mobile-nav">
          {% for item in site.data.settings.menu %}
            <div>
              <a {% if item.url == page.url-name %}class="active"{% endif %} {% if item.name == 'Contact' %} id="{{ item.id }}"  href="#"  {% else %}  href="../{{ item.url }}"  {% endif %}>{{ item.name }}</a>
            </div>
            {% endfor %}
            <div><a href="https://mkdesignz.spreadshirt.com/" target="_blank">Store</a></div>
        </div>
        </div></div>

</div>
